# This file is managed by Ansible
# http://manpages.ubuntu.com/manpages/trusty/en/man5/arc.conf.5.html

{% if arc_conf_settings is defined %}
{% arc_conf_settings %}
{% else %}

[nordugridmap]
gridmap_permissions="644"
log_to_file="yes"
logfile="/var/log/nordugridmap.log"
[vo]
id="vo_cms"
vo="cms"
source="vomss://voms2.cern.ch:8443/voms/cms"
mapped_unixid="cmsuser"
require_issuerdn="no"

[vo]
id="vo_GridFixers"
vo="local_csc"
source="file:///etc/grid-security/grid-mapfile.local"
require_issuerdn="no"

[vo]
id="vo_ops"
vo="ops"
source="vomss://voms2.cern.ch:8443/voms/ops"
mapped_unixid="lcgops"
require_issuerdn="no"

[vo]
id="vo_dteam"
vo="dteam"
#source="vomss://voms.cern.ch:8443/voms/dteam"
source="vomss://voms.hellasgrid.gr:8443/voms/dteam"
mapped_unixid="dteamuser"
require_issuerdn="no"

[vo]
id="vo_ndgf_ops"
vo="ops"
source="vomss://voms.ndgf.org:8443/voms/ops.ndgf.org"
mapped_unixid="lcgops"
require_issuerdn="no"

{% endif %}
